  <%# <meta name="turbolinks-cache-control" content="no-cache"> %>

<div id="app">
  <navbar></navbar>
  <div class="container">
    <router-view></router-view>
  </div>
</div>

<%= javascript_pack_tag 'todo' %>
<%= stylesheet_link_tag "application", media: "all" %>